{% extends "admin.njk" %}

{% block head %}
    <title>Add A Book To Library</title>
    
    <script>
        $(function(){
            //refocus
            $('#bookID').focus();

            //initialize the form used to add book
            $('form').form({
                fields: {
                    bookID: {
                        rules: [{
                            type: 'empty',
                            prompt: 'Please enter bookID.'
                        },{
                            type: 'regExp',
                            value: /^[a-z0-9\ \-\_]+$/i,
                            prompt: `Available characters for bookID:'a'-'z', 'A'-'Z', '0'-'9', ' ', '-', '_'.`
                        }]
                    },
                    bookName:{
                        rules: [{
                            type: 'empty',
                            prompt: 'Please enter book name.'
                        }]
                    },
                    author:{
                        rules: [{
                            type: 'empty',
                            prompt: 'Please enter the author of the book.'
                        }]
                    },
                    press:{
                        rules: [{
                            type: 'empty',
                            prompt: 'Please enter the press of the book.'
                        }]
                    },
                    number:{
                        rules: [{
                            type: 'empty',
                            prompt: 'Please enter the total number of the book.'
                        },{
                            type: 'regExp',
                            value: /^[0-9]+$/,
                            prompt:'Only figures are available for the number of the book.'
                        }]
                    }
                }
            });
        });
    </script>
{% endblock %}

{% block main %}
    <div class="ui center aligned middle aligned grid">
        <div class="column" style="max-width:1000px">
            <form id="addBook" class="ui large form piled segment" action="/addBook" method="post" enctype="multipart/form-data">
                <div class="field">
                    <input id="bookID" class="ui input" type="text" name="bookID" placeholder="BookID" maxlength="128">
                </div>

                <div class="field">
                    <input class="ui input" type="text" name="bookName" placeholder="Book Name" maxlength="128">
                </div>

                <div class="two fields">
                    <div class="field">
                        <input class="ui input" type="text" name="author" placeholder="Author" maxlength="128">
                    </div>
                    <div class="field">
                        <input class="ui input" type="text" name="press" placeholder="Press" maxlength="128">
                    </div>
                </div>

                <div class="three fields">
                    <div class="field" style="width: 40%">
                        <input class="ui input" type="number" id="number" name="number" placeholder="Number" maxlength="128" min="1" max="1048576">
                    </div>
                    <div class="field" style="width: 30%">
                        <input class="ui input" type="file" name="eBook" placeholder="eBook" size="4294967296" multiple>
                    </div>
                    <div class="field" style="width: 30%">
                        <div class="ui fluid large submit button">Add book</div>
                    </div>
                </div>

                <div class="ui error message"></div>
            </form>
        </div>
    </div>
{% endblock %}