{% extends "admin.njk" %}
{% import 'userForm.njk' as userForm %}

{% block head %}
    <title>Add User To Library</title>
{% endblock %}

{% block script %}
    {{ userForm.script() }}
{% endblock %}

{% block main %}
    {{ userForm.form('/addUser', 'Add user') }}
{% endblock %}