<!doctype html>
<html>
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="TA's Library">

        
        <!-- Semantic UI -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.1/semantic.min.css" integrity="sha384-vQPhfJdJkfTCHP7ouiqoAojjcDFuU346yP8z/pRpSn0xsWOfkMd+DkNmxns9jy4l" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.1/semantic.min.js" integrity="sha384-d0+ufSr6Y7eU5V6E8Bt1AioIn4ParGkr0AwQ5RZD/S2mTaiEXMV78mqaYKMLE2qv" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.1/socket.io.js" integrity="sha384-l5mJc3Z+1vy9cW5SL9rsLY7Lj0t9oELCwHOEXCC11hCf119un/8RwSFp99rwgIyo" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js" integrity="sha384-BVbaFR3dmDqElZkPQx5AoIkomGTb7vL1+4zzVW/urYCopH35ZBXNMKNdoRlNHayd" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/json3/3.3.2/json3.min.js" integrity="sha384-eFN1d/uLeBpp4ryH+tNdeHBCd8vlbko7MvH0meYTssq7yDk/L8Jpd8qjaA5IMrrb" crossorigin="anonymous"></script>

        <!-- ico -->
        <link rel="icon" href="/static/img/white.ico">

        <!-- script -->
        <script>
            $(function(){
                $('.ui.main').css('margin-top',$('.ui.menu').outerHeight()*1.3);
                $('.message .close').on('click', function() {
                    $(this).closest('.message').transition('fade');
                });
                $('.ui.icon.button').popup();
            });
        </script>

        {% block head %}
        {% endblock %}

        {% block script %}
        {% endblock %}
    </head>
    <body>
        <div class="ui top fixed borderless compact massive stackable menu"  style="display: flex">
            <div class="ui container">
                {% block menu %}
                {% endblock %}
            </div>
        </div>

        <div class="ui main container">
            {% if message %}
                <div class="ui {{message.type}} message">
                    <i class="close icon"></i>
                    <div class="header">{{message.head}}</div>
                    <p>{{message.body}}</p>
                </div>
            {% endif %}
            
            {% block main %}
            {% endblock %}
        </div>
    </body>
</html>